 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


 body {
     background-color: var(---dourado) !important;
 }

 * {
     margin: 0;
     padding: 0%;
     box-sizing: border-box;
 }

 :root {
     --vermelho: #720000;
     ---dourado: #C18E28;
     ----branco: #efebe3;
     ----bordô: #a04c40;


 }

 .espaco_lateral {
     width: 80vw;
     max-width: 1400px;
     margin: 0 auto;
 }

 /* menu */

 header {
     height: 165px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header img {
     width: 155px;
 }

 .menu {
     max-width: 700px;
     width: 70%;
     display: flex;
     justify-content: space-between;
 }

 .menu a {
     font-size: 30px;
     font-family: "Playfair italic";
     color: var(---dourado);
     text-decoration: none;

 }

 .menu a:hover {
     color: var(--vermelho);
     transition: 2s;
 }




 /* menu hamburguer */

 #icone-barras,
 #icone-x,
 #menu_botao {
     display: none;
 }



 /* Responsividade */

 @media screen and (max-width: 768px) {
     #sombra {
         background-color: var(--vermelho);
         backdrop-filter: blur(10px);
         z-index: 1;
         position: fixed;
         width: 100vw;
         height: 100vh;
         right: -101vw;
         transition: .5s;
     }

     #menu_botao {
         display: block;
         z-index: 1;
     }

     header {
         position: relative;
     }

     header button {
         width: 50px;

         background: none;
         border: none;

         display: unset;
         cursor: pointer;
     }

     header svg {
         fill: var(----branco);

     }

     #icone-barras {
         display: block;
     }

     nav.menu {

         width: 200px;
         padding: 0px 30px;

         flex-direction: column;
         justify-content: space-around;
         gap: 15px;

         position: fixed;
         top: 165px;
         right: -210px;
         z-index: 1;
         transition: .5s;
     }

     .menu a {
         color: var(----branco);
     }
 }

 .Banner {

     height: 130vh;
     background-image: url(./imgsite/banner.png);
     background-repeat: no-repeat;
     background-position: 0 -20px;
     background-size: 100%;
 }

 #Frase {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     color: var(----branco);


 }


 .primeira_linha {
     display: flex;
     justify-content: space-around;
     max-width: 1200px;
     margin: 0 auto;
     margin-bottom: 100px;
 }

 .primeira_linha img {
     margin-bottom: 20px;
     filter: drop-shadow(2px 2px 1px black);
     border-radius: 50%;
 }

 .segunda_linha {
     margin-top: 40px;
     justify-content: center;
     display: flex;
     max-width: center;
     margin-bottom: 200px;
 }


 .segunda_linha img {
     margin-bottom: 40px;
     filter: drop-shadow(2px 2px 1px black);
     border-radius: 50%;

 }


 .centro {
     margin-top: 40px;
     justify-content: center;
     display: flex;
     max-width: center;
     gap: 20px;
     width: 1200px;
     margin: 20px auto;
     border-radius: 35px;

     background-color: var(---dourado);
     box-shadow: 0 4px 8px #000000;
     padding: 20px;



 }

 #compras h2{
     display: flex;
     text-align: center;
     justify-content: center;
     width: 100%;
     color: var(----branco);
 }

 /* ----carrossel----- */
 #cases {
     margin-left: 25%;
     display: flex;
     align-items: center;
     width: 50%;
     height: auto;
 }


 #cases span {
     color: var(----branco);
     margin-bottom: 25%;
 }

 #cases h2 {
     margin-top: 25%;
     margin-right: 15px;
     color: var(----branco);
 }

 #cases {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
     margin-bottom: 120px;
 }

 #cases img {
     height: 600px;
     border-radius: 40px;
     box-shadow: 5px 5px 10px #000000;
 }

 #meuCarrossel {
     max-width: 700px;
     width: 90%;
 }

 /* -------fim carrossel------- */
 .texto {
     margin-top: 10px;
     font-size: 50px;
     color: var(----branco);
     text-align: center;

 }

 .espaco_lateral h2 {
     text-align: center;
     color: var(----branco);
     text-shadow: 1px 1px 1px #1f1f1f;
 }

 #conteudo-sobre img {
     width: 600px;
     border-radius: 50px;
 }

 #conteudo-sobre {
     display: flex;
     gap: 30px;
     background-color: var(---dourado);
     padding: 25px;
     margin: 25px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
     border-radius: 30px;
     margin-bottom: 30%;
 }

 #conteudo-sobre h4 {
     color: var(----branco);
 }



 /* footer */

 footer {
     background-color: var(---dourado);
     box-shadow: 5px 5px 10px #000;


 }

 .footer {
     color: var(----branco);
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .icone {
     display: flex;
     gap: 10px;
     justify-content: space-between;
     width: 20%;
     margin-right: 10%;

 }

 #espaco_lateral h1{
   
     text-align: center;
    color: var(----branco);
     margin-bottom: 4%;


 }